.App {
  background-color: #222;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-linebreak {
  white-space: pre-line;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titleInput {
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 20px;
  width: 40vh;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  border-width: 0.5px;
  border-color: grey;

}

.contentInput {
  margin: 10px;
  margin-top: 0px;
  height: 200px;
  width: 40vh;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border-width: 0.5px;
  border-color: grey;

}

.buttonsContainer {
  text-align: center;
}

.submitButton {
  color: white;
  font-weight: bold;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.Overlay {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  background-color: rgba(0,0,0,0.85)
}

.Modal {
  padding: 20px;
  border-radius: 30px;
  border-width: 0px;
  background-color: white;
  position: absolute;
    top: 40%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%)
}

.pointer {
  cursor: pointer;
}